body { 
	padding-top:60px;
}

#content1 {
padding: 20px;
width: 880px;
height: 638px;
background-color: white;
margin: 1px auto;
border-radius: 4px;
border-top-right-radius: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-color: #EEE;
border-top-color: #EEE;
border-right-color: #EEE;
border-bottom-color: #EEE;
border-left-color: #EEE;
-webkit-box-shadow: 0px 1px 3px #858585;
box-shadow: 0px 1px 3px #858585;
}

.table {
width: 100%;
margin-bottom: 20px;
}
manterTurmas.htmlmedia="all"
form table {
margin-bottom: 0px;
}
manterTurmas.htmlmedia="all"
table {
display: inline-block;
}
table {
max-width: 100%;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
}
table[Attributes Style] {
-webkit-margin-start: auto;
-webkit-margin-end: auto;
}
user agent stylesheettable {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}